*{
    padding: 0px;
    /* margin-left: 30px; */
    /* margin-top: 20px; */
    box-sizing: border-box;
  
}
.cocktail-data{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

}
.cocktail-data li{
    list-style: none;
}
.cocktail-data li img{
    width: 100%;
    /* max-height: 500px; */
    object-fit: cover;

}
.text{
    text-align: center;
}
.place{
    text-align: center;
}


